
- const bullets = ['Its absolutely FREE', 'New technology', 'Fresh interface that make you happy! ']

.container 
  section.gallery 
    .frame.frame-bg
      .frame__content
        .frame__content_text
          h1.main-title QUIZIT - CHALLANGE YOURSELF
    .frame
      .frame__content
        .frame__content_media.left(style="background-image: url(images/redask.webp);")
    .frame.frame-bg(data="redframe")
      .frame__content
        .frame__content_text.right.hw
          h2.title What is Quizit?
          p.subtitle  Quizit - web application/platform that provides a lot of various quizzes.
    .frame.frame-solid
      .frame__content
        .frame__content_text.tc.fw
          h2.title QUIZIT
          p.subtitle
                  | could be useful for schools, colleges, and universities 
                  | in order to take consistent and accurate quizzes on any topics that they needed. 
                  | Also Quizit includes competition mode in order to make tournaments beetwen students.
    .frame 
      .frame__content
    .frame 
      .frame__content
        .frame__content_media.left(style="background-image: url(images/blueask.webp);")
    .frame.frame-bg
      .frame__content
        .frame__content_text.right.hw
          h2.title Why is Quizit?
          p.subtitle
            ul
              each element in bullets
                li.li #{element}
    .frame.frame-solid 
      .frame__content
    .frame 
      .frame__content
    .frame.frame-bg
      .frame__content
        .frame__content_text
          h1.main-title DO YOU LIKE IT?


