
include base/utilities
include svg/logos

doctype html 
html(lang='en')
  head 
    include base/head
    title Quizit 
  body
    include layout/header
    include layout/main
    include layout/preloader

    .border
      .border__cover

    //-* Верстка компонентов
    //- include components/dev
