
.sound:hover
  cursor: pointer
  
#speaker,
#volume,
#cross
  fill: var(--color)

  transform: translateX(5%)
  transition: all .1s ease-in-out 0s

#volume,
#cross
  stroke: var(--color)

  stroke-width: 10
  stroke-linecap: round

#volume
  transform-origin: center center
  transform: translateX(-40px)

  opacity: 0
  visibility: hidden
