@use "sass:math"
@import mixins.sass

.center
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100vh
  width: 100%
  font-size: adap(2)

.container
  height: adap(2)
  width: adap(2)
  background-color: red
