
::-webkit-scrollbar
  width: 0
  
.container
  width: 100%
  height: 100%
  position: fixed
  perspective: 1500px

.gallery
  transform-style: preserve-3d
  height: 100%

.frame
  width: 100%
  height: 100%
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  transition: opacity .75s cubic-bezier(0.105, 0.430, 0.000, 0.995) 0s
  will-change: transform
  transform-style: preserve-3d
