include pug/auto  
include pug/animation/icons

doctype html 
html(lang='en')
  head 
    include pug/head
    title Quizit  
  body
    .container 
      section.gallery 
        .frame Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        .frame Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, esse!
        .frame Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, autem!
