include pug/auto  
include pug/animation/icons
include pug/animation/logos

- const navigation = ['nls-red', 'nls-blue', 'nls-yellow', 'nls-lightBlue']

doctype html 
html(lang='en')
  head 
    include pug/head
    title Quizit  
  body
    header.header
      .header__container
        .logo 
          +Logo
        include pug/components/navigation
        include pug/components/menu
    include pug/components/scroll
