include pug/auto  
include pug/animation/icons

doctype html 
html(lang='en')
  head 
    include pug/head
    title Quizit  
  body
    .container 
      section.gallery 
        .frame.frame-bg
          .frame__container QUIZIT - CHALLANGE YOURSELF
        .frame
          .frame__container
            img(src="@img/redask.webp")
        .frame Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, autem!
