include pug/auto

doctype html 
html(lang='en')
  head 
    include pug/head
    title Gulp  
  body
    .wrapper
      include pug/header
      main.page
        h1 content of site
      include pug/footer
