include pug/auto  
include pug/animation/icons

doctype html 
html(lang='en')
  head 
    include pug/head
    title Quizit  
  body
    .cover 
      .menu 
        button.menu__button
          .menu__button-wrapper
            +Burger
          .menu__button-border
          .mask-burger


        


      //- +Theme
      //- +Sound
