- const script = config.isBuild ? 'js/index.min.js' : 'js/index.js' 
- const style = config.isBuild ? 'css/index.min.css' : 'css/index.css'

doctype html 
html(lang='en')
  head 
    include pug/head
    title Gulp  
  body
    .center 
      h1 Gulp Bundle
      .container 

