include pug/auto  
include pug/animation/icons
include pug/animation/logos

doctype html 
html(lang='en')
  head 
    include pug/head
    title Quizit  
  body
    header.header
      .header__container
        .logo
          +Logo
        include pug/components/navigation
        include pug/components/menu
      .header__gradient
    include pug/components/scroll
    .preloader 
      .preloader__logo
        +LogoTextHorizontal
    .preloader-slide(style="display: none")
        +LogoSlide
    .border
      .border__cover

